# Database Configuration
DB_HOST=192.168.x.x
DB_PORT=3306
DB_USER=your_database_user
DB_PASSWORD=password
DB_NAME=your_database


# Server Configuration
PORT=3009
HOST=192.168.x.x
NODE_ENV=production
CORS_ORIGIN=https://wolffie.nl
FRONTEND_URL=https://wolffie.nl

# Data Collection
SNAPSHOT_INTERVAL=10000
CLEANUP_DAYS=7
